<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Metro-UI-CSS/min/metro-bootstrap.min.css">
    <link rel="stylesheet" href="/Metro-UI-CSS/min/iconFont.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/Metro-UI-CSS/min/metro.min.js"></script>
</head>
<body class="metro ">

<nav class="navigation-bar">
    <div class="navigation-bar-content">
        <a href="/" class="element"><span class="icon-grid-view"></span> Diaborg <sup>2.0</sup></a>
        <span class="element-divider"></span>


        <ul class="element-menu">
            <li><a href="/index.php/add">Add</a></li>
        </ul>
        <span class="element-divider"></span>
        <ul class="element-menu">
            <li><a href="/index.php/list">List</a></li>
        </ul>
        <span class="element-divider"></span>
        <ul class="element-menu">
            <li><a href="/index.php/list?print=1">Print</a></li>
        </ul>

    </div>
</nav>

<div class="container">


    {{ content|raw }}

</div>
</body>
</html>