.container {
    padding: 40px 40px 40px 40px;
}

.metro .bztable, .metro .entryform {
    max-width: 800px;
}

.metro .dropdown-toggle:after {
    content: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*.x.axis path {*/
    /*display: none;*/
/*}*/

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.dot {
    stroke-width: 1.5px;
}

.dot-selected {
    fill: #4390df;
    stroke: #ffffff;
    stroke-width: 2.5px;
}

.areagood {
    fill: #dff9da;
}

.axisbackground {
    fill: #ffffff;
}